* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  text-align: center;
}

.head {
  text-align: center;
  font-size: 50px;
}

.mainDiv {
  background: darkorchid;
  text-align: center;
}

.mainInput {
  width: 50%;
  height: auto;
}

.btn {
  width: 25%;

}

h2 {
  margin-bottom: 10px;
}

.conteinerTask {
  margin-bottom: 10px;
}

.btnDelete {
  border-radius: 100%;
}